.search-sku-page__content__by-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-sku-page__content__by-select h1 {
    text-align: center;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
}

.search-sku-page__content__by-select ul {
    list-style-type: none;
    padding: 0;
}
.search-sku-page__content__by-select ul li {
    margin-bottom: 50px;
}