.auth-form {
    background-color: #FFFFFF;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    border-radius: 25px;
    animation: form-blur 2s ease-in-out infinite alternate;
}

.form__input {
    font-size: 20px;
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(30, 31, 33, 0.6);
    margin-bottom: 35px;
    color: black;
}
.form__input:focus {
    outline: none;
}
.form__input::placeholder {
    color: #54545B;
}



@keyframes form-blur {
    from {
        box-shadow: none;
    }
    50% {
        box-shadow: 10px 10px 250px 25px rgba(0, 105, 68, 0.45);
    }
    to {
        box-shadow: 10px 10px 250px 25px rgba(0, 105, 68, 0.9);
    }
}