.input-search-small {
    font-size: 20px;
    padding: 10px 100px;
    background: transparent;
    border: 1px solid #A5A5A7;
    border-radius: 15px;
    text-align: center;
}

.input-search-small:focus {
    outline: none;
}