.nav-menu {
    background-color: #2E2E30;
    padding: 10px 20px 30px;
    max-width: 300px;
    min-height: 100vh;
    margin: 0 auto;
}
.nav-menu.active .nav-menu__header {
    justify-content: center;
}
.nav-menu.active .nav-menu__header div {
    margin-right: 0;
}
.nav-menu.active .sft-logo {
    width: 0;
}
.nav-menu.active .account-info{
    justify-content: center;
}
.nav-menu.active .account-info img{
    margin-right: 0;
}
.nav-menu.active .account-info h1{
    display: none;
}
.nav-menu.active .nav-menu__links .nav-item{
    justify-content: center;
}
.nav-menu.active .nav-menu__links .nav-item div{
    display: none;
}
.nav-menu.active .nav-menu__links .nav-item img {
    margin-right: 0;
}
.nav-menu.active .admin-h1 {
    font-size: 12px;
}

.nav-menu__header {
    display: flex;
    align-items: center;
}

.nav-menu__header div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
    transition: all 0.2s;
    margin-right: 10px;
}
.nav-menu__header div:hover {
    background-color: #54545B;
}
.sft-logo {
    width: 150px;
}

.nav-menu__links {
    list-style-type: none;
    padding: 0;
}

.nav-menu__links li {
    margin-bottom: 20px;
}
.nav-menu__links li a {
    text-decoration: none;
}

.admin-h1 {
    padding: 5px;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
